In [49]:
import pickle
import pandas as pd
import gensim

In [50]:
corpora = gensim.corpora.Dictionary.load('./data/corpora.dat')
vocab_size = len(corpora)
print('Number of words in corpora: %d'%(vocab_size))

Number of words in corpora: 26

In [51]:
cs=2

In [52]:
the_filename = './data/test.txt.dat'
with open(the_filename, 'rb') as f:
    text = pickle.load(f)

In [53]:
seq_in = [[text[i+n] for i in range(0, len(text)-cs, 1)] for n in range(0,cs)]

In [54]:
print(len(seq_in[0]))
print(seq_in)

28
[[2, 0, 4, 8, 3, 6, 5, 9, 7, 1, 10, 12, 13, 11, 15, 17, 16, 19, 18, 14, 10, 22, 21, 23, 20, 25, 21, 23], [0, 4, 8, 3, 6, 5, 9, 7, 1, 10, 12, 13, 11, 15, 17, 16, 19, 18, 14, 10, 22, 21, 23, 20, 25, 21, 23, 24]]

In [55]:
seq_out = [text[i] for i in range(cs, len(text), 1)]

In [56]:
print(len(seq_out))
print(seq_out)

28
[4, 8, 3, 6, 5, 9, 7, 1, 10, 12, 13, 11, 15, 17, 16, 19, 18, 14, 10, 22, 21, 23, 20, 25, 21, 23, 24, 20]

In [57]:
test_cases = pd.DataFrame()

In [58]:
for i in range(0, cs):
    col_name = ''.join('in_%d'%(i))
    #print(col_name)
    test_cases[col_name] = seq_in[i]

test_cases['out'] = seq_out

In [59]:
test_cases.head()

   in_0  in_1  out
0     2     0    4
1     0     4    8
2     4     8    3
3     8     3    6
4     3     6    5

In [60]:
test_cases_text = test_cases.applymap(lambda x: corpora.id2token[x])

In [61]:
test_cases_text.head()

    in_0   in_1    out
0    One    two  three
1    two  three   four
2  three   four   five
3   four   five    six
4   five    six  seven

In [62]:
test_cases.to_csv('./data/test_cases.csv', index=False)
test_cases_text.to_csv('./data/test_cases_text.csv', index=False)